/* Basic Styles */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #333;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.9rem;
  margin: 1.6rem 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.3rem;
  margin: 1.6rem 0;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 1.6rem 0;
}

pre {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 16px 16px 16px;
  font-family: Menlo, monospace;
  overflow-x: auto;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Menlo, monospace;
  border-radius: 3px;
}
