h1 {
  color: red;
}

body {
  font-family: sans-serif;
}

pre {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 16px 16px 16px;
  font-family: Menlo, monospace;
  overflow-x: auto;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Menlo, monospace;
  border-radius: 3px;
}
