.snackbar-wrapper {
  display: flex;
  align-items: center;
  margin: 8px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  transition: opacity 150ms, transform 150ms;
  pointer-events: none;
}

.snackbar-wrapper-top-left,
.snackbar-wrapper-top-center,
.snackbar-wrapper-top-right {
  top: 8px;
}

.snackbar-wrapper-bottom-left,
.snackbar-wrapper-bottom-center,
.snackbar-wrapper-bottom-right {
  bottom: 8px;
}

.snackbar-wrapper-top-left,
.snackbar-wrapper-bottom-left {
  justify-content: flex-start;
}

.snackbar-wrapper-top-center,
.snackbar-wrapper-bottom-center {
  justify-content: center;
}

.snackbar-wrapper-top-right,
.snackbar-wrapper-bottom-right {
  justify-content: flex-end;
}

.snackbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  min-width: 334px;
  max-width: 672px;
  background-color: #333;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: left;
}

/* Responsiveness based on Material Design */
@media (max-width: 480px), (max-width: 344px) {
  .snackbar {
    min-width: 100%;
  }
}

.snackbar__text {
  flex-grow: 1;
  padding: 14px 16px;
  margin: 0;
  pointer-events: auto;
}

.snackbar__close {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 8px;
  margin: 0 8px 0 0;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;

  /* Reset button styles */
  outline: none;
  background-color: transparent;
  border: none;

  /* SVG icon properties */
  font-size: 12px;
  color: rgba(255, 255, 255, 0.87);
}

.snackbar__close:before {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  transition: opacity 120ms linear;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  .snackbar__close:hover:before {
    opacity: 0.08;
  }
}

/* CSSTransition classNames logic */
.snackbar-enter,
.snackbar-exit-active {
  opacity: 0;
}

.snackbar-enter-active {
  opacity: 1;
}

.snackbar-enter-top-left,
.snackbar-enter-top-center,
.snackbar-enter-top-right,
.snackbar-exit-active-top-left,
.snackbar-exit-active-top-center,
.snackbar-exit-active-top-right {
  transform: translateY(-16px);
}

.snackbar-enter-bottom-left,
.snackbar-enter-bottom-center,
.snackbar-enter-bottom-right,
.snackbar-exit-active-bottom-left,
.snackbar-exit-active-bottom-center,
.snackbar-exit-active-bottom-right {
  transform: translateY(16px);
}

.snackbar-enter-active-top-left,
.snackbar-enter-active-top-center,
.snackbar-enter-active-top-right,
.snackbar-enter-active-bottom-left,
.snackbar-enter-active-bottom-center,
.snackbar-enter-active-bottom-right {
  transform: translateY(0px);
}
